target/
coverage/
logs.txt
bin/
.env*
editors/vscode/node_modules/
editors/vscode/client/node_modules/
editors/zed/extension.wasm
editors/zed/grammars/
tree-sitter/node_modules/
*.rs.bk
*.svg
tmp
*.zip
tools/lsp_replay/__pycache__/
